.RestaurantsbyOrder {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

iframe {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
